<!doctype html>
<html>
<head> 
<meta charset="utf-8">
<title>京东快省好</title>
<meta name="keywords" content="JD">
<meta name="description" content="京东官网">
<meta http-equiv="refresh" content="">
<meta name="author" content="dzh,317309401@qq.com">
<link rel="icon" href=" /images/imgcar/favicon.ico">
<link rel="stylesheet" href=	" /static/css/buycar.css">
<link rel="stylesheet" href=" /static/css/reset.css">
<script type="text/javascript"  src="/static/static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript"  src="/static/static/js/car.js"></script>
</head>
<body>
<!-- 头部-->
<!-- 
<div id="wrap">
	<div id="wrap-site">
		<div class="wrapl">
		<span>送至 : 北京</span>
		<em></em>	
		</div>	
		<div class="wrapr">
			<dl>
				<dd>
					<a href="#">你好，请登录&nbsp;</a></dd>
				<dd><a href="#"	class="yanse" >免费注册</a><span>丨</span></dd>
				<dd><a href="#">我的订单</a><span>丨</span></dd>
				<dd><a href="#">我的京东<i class="xjt"></i></a><span>丨</span></dd>
				<dd><a href="#">京东会员</a><span>丨</span></dd>
				<dd><a href="#">企业采购</a><span>丨</span></dd>
				<dd><a href="#"><i class="xt"></i>手机京东</a><i class="xjt"></i><span>丨</span></dd>
				<dd><i class="xjt"></i><a href="#">关注京东</a><span>丨</span></dd>
				<dd><i class="xjt"></i><a href="#">客户服务</a><span>丨</span></dd>
				<dd><i class="xjt"></i><a href="#">网站导航</a></dd>
			</dl>
			
		</div>
	</div>
	
</div>
-->
<!-- 次头部-->
<!--头部开始-->
	<header>
		<div id="head">
			<a href="#" class="bian">
				<div class="kuang">
					送至:北京
					<span></span>
				</div>
				<div id="adress">
					<ul>
						<li>北京
							<dl>
								<dd>山西</dd>
								<dd>内蒙古</dd>
								<dd>福建</dd>
								<dd>江西</dd>
								<dd>西藏</dd>
								<dd>新疆</dd>
							</dl>
						</li>
						<li>上海
							<dl>
								<dd>河南</dd>
								<dd>江苏</dd>
								<dd>湖北</dd>
								<dd>四川</dd>
								<dd>陕西</dd>
								<dd>港澳</dd>
							</dl>
						</li>
						<li>天津
							<dl>
								<dd>辽宁</dd>
								<dd>山东 </dd>
								<dd>湖南</dd>
								<dd>海南</dd>
								<dd>甘肃</dd>
								<dd>台湾</dd>
							</dl>
						</li>
						<li>重庆
							<dl>
								<dd>吉林</dd>
								<dd>安徽 </dd>
								<dd>广东</dd>
								<dd>贵州</dd>
								<dd>青海</dd>
								<dd>钓鱼岛</dd>
								</dl>
						</li>
							<li>河北
								<dl>
								<dd>黑龙江</dd>
									<dd>浙江</dd>
									<dd>广西</dd>
									<dd>云南</dd>
								<dd>宁夏</dd>
									<dd>海外</dd>
								</dl>
						</li>
						</ul>
					
					</div>
				</a>
			
			<div id="header_right">
					<ul>
						<li><a href="#" id="qdl">你好,请登录
				
						</a><span class="shu">丨</span></li>
					<li><a id="zc" href="#">免费注册</a><span class="shu">丨</span></li>
						<li><a href="#" class="a3">我的订单</a><span class="shu">丨</span></li>
						<li><a href="#" class="bian">
								<div class="kuang">
									我的京东
									<span></span>
							</div>
								<div id="wdjd">
									<ul>
										<li class="a4">						待处理订单
											<dl>
												<dd>返修退换货</dd>
												<dd>降价商品</dd>
												
											</dl>
										</li class="red">
										<li>消息
											<dl>
												<dd>我的回答</dd>
												<dd>我的关注</dd>
												
											</dl>
										</li>
									</ul>
									<div id="wdjd_xia">
										<ul>
											<li class="a5">我的京东
												<dl>
													<dd>我的白条</dd>
												</dl>
											</li >
											<li class="a6">我的优惠劵
												<dl>
													<dd>我的理财</dd>
												</dl>
											</li>
										</ul>
									</div>
								</div>
							</a><span class="shu">丨</span>
						</li>
						<li><a href="#" class="a1">京东会员</a><span class="shu">丨</span></li>
						<li><a href="#" class="a2">企业采购</a><span class="shu">丨</span></li>
						<li><a href="#" class="bian">
								<div class="kuang">
									手机京东
									<span></span>
								</div>
								<div id="sjjd"></div>
							</a><span class="shu">丨</span>
						</li>
						<li><a href="#" class="bian">
								<div class="kuang">
									关注京东
									<span></span>
								</div>
								<div id="gzjd"></div>
							</a><span class="shu">丨</span>
						</li>
						
						<li><a href="#" class="bian">
								<div class="kuang">
									客户服务
									<span></span>
								</div>
								<div id="khfw">
									<dl>
										<dt>客户</dt>
										<dd>帮助中心</dd>
										<dd>在线客服</dd>
										<dd>电话客服</dd>
										<dd>金融咨询</dd>
									</dl>
									<dl class="jushang">
										<dt>售后服务</dt>
										<dd>意见建议</dd>
										<dd>客服邮箱</dd>
									</dl>
									<div id="khfw_xia">
										<dl>
										<dt>商户</dt>
										<dd>合作招商</dd>
		
									</dl>
									<dl class="jushang">
										<dt>京东商学院</dt>
										
									</dl>
									</div>
								</div>
							</a><span>丨</span>
						</li>
						<li><a href="#" class="bian">
								<div class="kuang">
									网站导航
									<span></span>
								</div>
								<div id="wzdh">
									<div id="wzdh-fen">
										<div id="fen-zuo">
											<p>特色主题</p>
											<dl>
												<dd>品牌头条</dd>
												<dd>尖er货</dd>
												<dd>优惠劵</dd>
												<dd>秒杀</dd>
												<dd>新奇特</dd>
												<dd>智能馆</dd>
												<dd>北京老字号</dd>
											</dl>
											<dl>
												<dd>发现好货</dd>
												<dd>京东试用</dd>
												<dd>闪购</dd>
												<dd>定期送</dd>
												<dd>企业金融服务</dd>
												<dd>0元评测</dd>
												<dd>买什么</dd>
											</dl>
											<dl>
												<dd>京东预售</dd>
												<dd>港澳售</dd>
												<dd>京东会员</dd>
												<dd>装机大师</dd>
												<dd>礼品购</dd>
												<dd>In货推荐</dd>
												<dd>北京老字号</dd>
											</dl>
										</div>
										
										<div id="fen-zhong">
												<p>行业频道</p>
											<dl>
												<dd>服装城</dd>
												<dd>电脑办公</dd>
												<dd>美妆馆</dd>
												<dd>智能数码</dd>
												<dd>家装城</dd>
												<dd>整车</dd>
												<dd>弄资频道</dd>
												<dd>玩3c</dd>
											</dl>
											<dl>
												<dd>家用电器</dd>
												<dd>手机</dd>
												<dd>食品</dd>
												<dd>母婴</dd>
												<dd>运动户外</dd>
												<dd>图书</dd>
												<dd>京东智能</dd>
											</dl>
										</div>
										
										<div id="fen-right1">
												<p>生活服务</p>
											<dl>
												<dd>京东众筹</dd>
												<dd>京东金融APP</dd>
												<dd>理财</dd>
												<dd>旅行</dd>
												<dd>游戏</dd>
												<dd>电影票</dd>
												<dd>京东到家</dd>
												<dd>京东众测</dd>
											</dl>
											<dl>
												<dd>白条</dd>
												<dd>京东小金库</dd>
												<dd>话费</dd>
												<dd>彩票</dd>
												<dd>机票酒店</dd>
												<dd>水电煤</dd>
												<dd>京东微联</dd>
											</dl>
										</div>
										<div id="fen-right2">
												<p>更多精选</p>
											<dl>
												<dd>京东社区</dd>
												<dd>在线读书</dd>
												<dd>智能社区</dd>
												<dd>京友邦</dd>
												<dd>乡村采购</dd>
												<dd>企业采购</dd>
												<dd>办公生活馆</dd>
												<dd>English Site</dd>
											</dl>
											<dl>
												<dd>京东通信</dd>
												<dd>京东E卡</dd>
												<dd>游戏社区</dd>
												<dd>合作招商</dd>
												<dd>服务市场</dd>
												<dd>校园加盟</dd>
												<dd>知识产权维护</dd>
											</dl>
											
										</div>
									
									</div>			
								</div>
								
							</a><span>丨</span>
						</li>
						
					</ul>
				</div>

			</div>
		</header>
	<!--头部结束-->
<div id="wlheader">
	<div id="logo">
		<a href="#">
			<img  src="/static/images/imgcar/logo.png" title="囧东" alt="好棒">
		</a>
	</div>
	<div id="search">
		<input type="search" name="sar" placeholder="自营"autocomplete>
		<input type="button" name="sub" value="搜索">
	</div>
	
</div>
<!-- 下一个-->
<div id="nologin-tip">
	<span class="wicon"></span>您还没有登录！登录后购物车的商品将保存到您账号中
	<input type="button" name="denglu" value="立即登录">
</div>
<!-- 下一个-->
<div id="car-fil">
 <div class="quanbu">
	<a href="#">全部商品 1</a>
</div>
 <div class="quanbu">
 <a href="#"> 京东大药房</a>
 </div>
 <div id="carpei">
 <span>配送至 ：</span>

 <select>
	<option selected>配送到北京朝阳</option>
	<option>配送到北京昌平</option>
	<option>配送到北京东城</option>
	</select>
 </div>
</div>
<!-- 下一个-->
<div id="lie">
<div id="quot">
<input type="checkbox" name="a[]" value="xuan"> <button>全选</button><input type="checkbox" name="a[]" value="xuan"><button>全不选</button>
</div>
	<div class="lier">
商品
	</div>
	<div class="lier1">
		单价
	</div>
	<div class="lier2">
	数量
	</div>	
	<div class="lier3">
	小计
	</div>
	<div class="lier4">
	操作
	</div>
</div>
<!-- 下一个-->
<div id="cart-thead">
<input type="checkbox" name="a[]" checked>
&nbsp;
		<a href="#"><span>京东自营</span></a>
	<div id="shoparea">
		<i></i>&nbsp;运费6.00
		<a href="#"class="mian">免运费凑单 > </a>
	</div>
</div>
<!-- 下一个-->
<hr> </hr>
<!-- 下一个-->
<div id="item-header">
		<div class="ftxt">
			<a href="#">
			<span class="huan">换购</span>&nbsp;&nbsp;&nbsp;
			 活动商品已购满9.90 ，可加价换购商品1件 > 
			</a>
			<a href="#" >
			<span class="sp">换购商品</span>  	
			去凑单 >
			</a>
				<div class="wj">
			
			</div>
		</div>
 </div>
	<!-- 下一个-->
<div id="product">

	<div class="cbx">
		<input type="checkbox"	name="a[]" checked value="all">
	</div>
	<div class="goods">
		<img  src="/static/images/imgcar/food.jpg">
	</div>
	<div id="pingshu">
		<a href="#">【京东超市】乐事（Lay’s）无限薯片 休闲零食 104g*3组合装（原味+烤肉</a>
		<i></i>
		<p>不支持7天无理由退货</p>
		<i></i><a href="#"><span>选包送</span></a>
		
	</div>
	<div id="yanse">
	颜色：104g*3组合装（原味...

	</div>
	<div id="gengduo">
		<p>19.90</p>
		<a class="cuxiao" href="#"></a>
	</div>
	<div id="zeng">
		<input type="button" value="-" name="a">
		<input type="text" value=1 name="b" >
		<input type="button" value="+" name="c">
	</div>
	<div id="shuzi">
		<p><b>19.90</b></p>
		<p>1.38kg</p>
	</div>
		<div id="shanchu">
		<a href="#">删除</a><br>
		<a href="#">移到我的关注</a>
	</div>
</div>


<div id="item-header">
		<div class="ftxt">
			<a href="#">
			<span class="huan">换购</span>&nbsp;&nbsp;&nbsp;
			 活动商品已购满9.90 ，可加价换购商品1件 > 
			</a>
			<a href="#" >
			<span class="sp">换购商品</span>  	
			去凑单 >
			</a>
				<div class="wj">
			
			</div>
		</div>
 </div>
	<!-- 下一个-->
<div id="product1">

	<div class="cbx">
		<input type="checkbox"	name="a[]" checked value="all">
	</div>
	<div class="goods">
		<img  src="/static/images/imgcar/food.jpg">
	</div>
	<div id="pingshu">
		<a href="#">【京东超市】乐事（Lay’s）无限薯片 休闲零食 104g*3组合装（原味+烤肉</a>
		<i></i>
		<p>不支持7天无理由退货</p>
		<i></i><a href="#"><span>选包送</span></a>
		
	</div>
	<div id="yanse">
	颜色：104g*3组合装（原味...

	</div>
	<div id="gengduo1">
		<p>19.90</p>
		<a class="cuxiao" href="#"></a>
	</div>
	<div id="zeng1">
		<input type="button" value="-" name="a">
		<input type="text" value="1" name="b" >
		<input type="button" value="+" name="c">
	</div>
	<div id="shuzi1">
		<p><b>19.90</b></p>
		<p>1.38kg</p>
	</div>
		<div id="shanchu">
		<a href="#">删除</a><br>
		<a href="#">移到我的关注</a>
	</div>
</div>



<!-- 下一个-->
<div id="comm">
<div class="cart">
	

</div>
<div class="cart1">
	<a class="reb" href="#">删除选中的商品</a>
	<a class="reb" href="#">已到的关注</a>
	<a class="reb" href="#">消除下柜商品</a>
</div>
	<div id="com-right">
		<div class="crt">
			<a href="#">已选<strong>2</strong>件物品</a>
			<b>
		</b>
		</div>
	<div class="cey">
		<p>总价：	<em>39.80</em></p><span></span>
		<p><i>已节省</i>-0.00</p>
		</div>
	<div class="ttt">
		<input type="button" value="去结算" name="jies">
		</div>
	</div>
		
</div>
<!--下一个模块-->
<div id="extar">
	<a class="abv" target="_blank">猜你喜欢</a>
	<a class="abv" target="_blank">随手购</a>
	<a class="abv" target="_blank">我的关注</a>
	<a class="abv" target="_blank">最近浏览</a>
	
	<a href="#">
		<div id="gundongtiao"> 
		</div>
	</a>
</div>
<!--下一个模块-->
<div id="xian1"><center><p>谁知道你喜欢啥</p></center></div>
<div id="xian2"><center><p>你浏览过的东西太污了,禁止显示</p></center></div>
<div id="zhanshi">
	<div class="zhantu">
			<a href="#"class="yida">
			</a>
			<div class="miaoshua">
				<a href="#" class="jingd">【京东超市】益达（Extra）木糖醇无糖口香糖蜜桃芒果混合味70粒98g单瓶
				</a>
				<p>￥13.50</p>
				<a href="#" class="pname">
					<span></span>
						加入购物车
				</a>
			</div>
	</div>
	<div class="zhantu">
			<a href="#"class="yida">
			</a>
			<div class="miaoshua">
			<a href="#" class="jingd">【京东超市】益达（Extra）木糖醇无糖口香糖蜜桃芒果混合味70粒98g单瓶
				</a>
				<p>￥13.50</p>
				<a href="#" class="pname">
					<span></span>
						加入购物车
				</a>
			</div>
	</div>
	
	<div class="zhantu">
			<a href="#"class="yida">
			</a>
			<div class="miaoshua">
			<a href="#" class="jingd">【京东超市】益达（Extra）木糖醇无糖口香糖蜜桃芒果混合味70粒98g单瓶
				</a>
				<p>￥13.50</p>
				<a href="#" class="pname">
					<span></span>
						加入购物车
				</a>
			</div>
	</div>
	
	<div class="zhantu">
			<a href="#"class="yida">
			</a>
			<div class="miaoshua">
			<a href="#" class="jingd">【京东超市】益达（Extra）木糖醇无糖口香糖蜜桃芒果混合味70粒98g单瓶
				</a>
				<p>￥13.50</p>
				<a href="#" class="pname">
					<span></span>
						加入购物车
				</a>
			</div>
	</div>
</div>	
<div id="duohao">
<img  src="/static/images/imgcar/bghao.jpg">
</div>
<!--下一个模块-->
<div id="description">
	<dl>
		<dt>购物指南</dt>
		<dd><a href="#">购物流程</a></dd>
		<dd><a href="#">会员介绍</a></dd>
		<dd><a href="#">生活旅行/团购</a></dd>
		<dd><a href="#">常见问题</a></dd>
		<dd><a href="#">大家电</a></dd>
		<dd><a href="#">联系客服</a></dd>
	</dl>
		<dl>
		<dt>配送方式</dt>
		<dd><a href="#">上门自提</a></dd>
		<dd><a href="#">211限时达</a></dd>
		<dd><a href="#">配送服务查询</a></dd>
		<dd><a href="#">配送费收取标准	</a></dd>
		<dd><a href="#">海外配送</a></dd>
	</dl>
		<dl>
		<dt>支付方式</dt>
		<dd><a href="#">	货到付款</a></dd>
		<dd><a href="#">	在线支付</a></dd>
		<dd><a href="#">	分期付款</a></dd>
		<dd><a href="#">	邮局汇款</a></dd>
		<dd><a href="#">	公司转账</a></dd>
	</dl>
		<dl>
		<dt>售后服务</dt>
		<dd><a href="#">售后政策	</a></dd>
		<dd><a href="#">价格保护	</a></dd>
		<dd><a href="#">	退款说明</a></dd>
		<dd><a href="#">返修/退换货	</a></dd>
		<dd><a href="#">取消订单</a></dd>
	</dl>
		<dl>
		<dt>特色服务</dt>
		<dd><a href="#">夺宝岛</a></dd>
		<dd><a href="#">DIY装机	</a></dd>
		<dd><a href="#">延保服务</a></dd>
		<dd><a href="#">京东E卡</a></dd>
		<dd><a href="#">京东通信</a></dd>
		<dd><a href="#">京东JD+</a></dd>
	</dl>
</div>	
<!--下一个模块-->
<div id="footer">
<div id="link">
	<a href="#">关于我们</a><span>丨</span>								
	<a href="#">联系我们</a><span>丨</span>										
	<a href="#">联系客服</a><span>丨</span>									
	<a href="#">合作招商</a>	<span>丨</span>									
	<a href="#">营销中心</a>	<span>丨</span>									
	<a href="#">手机京东</a>	<span>丨</span>									
	<a href="#">友情链接</a>	<span>丨</span>									
	<a href="#">销售联盟</a>	<span>丨</span>									
	<a href="#">京东社区</a>		<span>丨</span>								
	<a href="#">风险监测</a>	<span>丨</span>									
	<a href="#">隐私政策</a>	<span>丨</span>									
	<a href="#">京东公益</a>	<span>丨</span>									
	<a href="#">English Site</a>	<span>丨</span>								
	<a href="#">Contact Us</a>		<span>丨</span>	
								
</div>
	<div id="copy">
		 <i></i><a href="#">京公网安备 11000002000088号</a>  |  京ICP证070359号  |  <a href="#">互联网药品信息服务资格证编号(京)-经营性-2014-0008</a>			  |  新出发京零 字第大120007号<br>  
互联网出版许可证编号新出网证(京)字150号 出版物经营许可证  |  <a href="#">网络文化经营许可证京网文[2014]2148-348号</a>  |  违法和不良信息举报电话：4006561155<br>
Copyright © 2004-2017  京东JD.com 版权所有  |  消费者维权热线：4006067733    经营证照<br>
京东旗下网站：<a href="#">京东钱包</a>
	</div>
<div id="author">
<a href="#">
</a>
<a href="#">
</a>
<a href="#">
</a>
<a href="#">
</a>
<a href="#">
</a>
<a href="#">
</a>
</div>
</div>
<!-- 固定定位-->
	<div id="wo"><a href="#">
	我的关注</a>
	</div>
	<div id="men">
		<div class="abcd">
		</div>
	</div>
	<div id="win">
	<a href="#">
		<div id="hha">
		</div>
		</a>
	</div>
		<a href="#">
		<div id="win1">
			<div id="winer">
			</div>
			</a>
	</div>
	<a href="#">
		<div id="tab">
			<div id="ablr">
			</div>	
		</div>
	</a>
	<!-- 固定定位-->
</body>
</html>