/* 默认CSS样式 */
/* 设置公共样式 */
*{  
	margin:0 0 0 0; 
	padding:0 0 0 0;
	font-size:12px;
}
li{
	list-style:none;
	margin:0 0 0 0;
	padding:0 0 0 0;
} 
a{
	text-decoration:none;
	color:#666;	
}
/* 设置公共样式结束*/
title{display:none;}
 /* 顶 部 */
#header{
	width:100%;
	height:30px;
	background:#F1F1F1;
}
#wrap{
	width:1210px;
	background:pink;
	margin:0 auto;
	font-size:12px;
	line-height:30px;
} 
#header_left{
	width:100px;
	height:30px;
	float:left;
	/* background:blue; */
}
#address{
	text-align:center;
	color:#666;
	position:relative;
	z-index:100;
}
#address>span{
	display:block;
	width:15px;
	height:10px;
	float:right;
	margin:9px 8px 0px 0px;
	background:url(../images/imgdetails/333.png)-35px -203px;
}
#address-1{
	width:312px;
	height:196px;
	position:absolute;
	display:none;
	top:29px;
	left:27px;
	border:1px solid #ccc;
	background:#fff;
	z-index:99;
}
#header_left:hover>#address>span{
	background:url(../images/imgdetails/333.png)-19px -203px;
}
#header_left:hover>#address-1{
	display:block;
}
#header_left:hover>#address{
	background:#fff;
	border:1px solid #ccc;
	border-bottom-color:#fff;
}
.item{
	width:50px;
	height:24px;
	text-align:center;
	margin-left:9px;
	float:left;
	line-height:24px;
	margin-top:3px;
}
.item>a{
	font-size:12px;
}
.item>a:hover{
	color:#C91623;
}
.item:hover{
	background:#F1F1F1;
}

.list{
	display:block;
	width:12px;
	height:10px;
	float:right;
	margin:9px 0px 0px 0px;
	background:url(../images/imgdetails/333.png)-35px -203px;
}
.frame-1{
	width:96px;
	height:30px;
	position:relative;
	text-align:center;
	margin-left:3px;
}
.frame-2{
	display:block;
	z-index:1001;
	position:relative;
	text-align:center;
}
#hidden-text{
	width:265px;
	height:141px;
	border:1px solid #ccc;
	position:absolute;
	display:none;
	top:28px;
	background:#FFFFFF;
	z-index:99;
}
.hidden-text-1{
	width:265px;
	height:72px;
}
.hidden-text-2{
	width:265px;
	height:40px;
	margin-top:10px;
	border-top:1px solid #ccc;
	background:#FFFFFF;
}

.item-1{
	width:120px;
	height:20px;
	float:left;
	margin-top:4px;
	margin-left:10px;
	text-align:left;
}
.item-1>a:hover{
	color:#C91623;
}
.frame-1:hover>#hidden-text{
	display:block;
}
.frame-1:hover>a>.list{
	background:url(../images/imgdetails/333.png) -19px -203px;
}
.frame-1:hover>.frame-2{
	background:#fff;
	border:1px solid #ccc;
	border-bottom-color:#fff;
}
#hidden-text1{
	width:250px;
	height:195px;
	border:1px solid #ccc;
	position:absolute;
	display:none;
	top:28px;
	z-index:100;
}
.frame-1:hover>#hidden-text1{
	display:block;
}
.qq1{
	width:15px;
	height:20px;
	float:left;
	margin:5px 0px 0px 0px;
	background:url(../images/imgdetails/jd2015img.png);
}
.frame-1:hover>a>.qq1{
	background:url(../images/imgdetails/jd2015img.png) 0px -26px;
}
#hidden-text2{
	width:91px;
	height:110px;
	border:1px solid #ccc;
	position:absolute;
	display:none;
	top:28px;
	background:#FFFFFF;
	z-index:1000;
}
#hidden-text2>a>img{
	width:100%;
	display:block;
}
.frame-1:hover>#hidden-text2{
	display:block;
}
/* 客户服务 */
#hidden-text3{
	width:170px;
	height:179px;
	border:1px solid #ccc;
	position:absolute;
	display:none;
	top:28px;
	background:#FFFFFF;
	z-index:1000;
}
.frame-1:hover>#hidden-text3{
	display:block;
}

#hidden-text3>ul{
	width:75px;
	height:auto;
	margin:4px 0px 0px 8px;
	float:left;
}
#hidden-text3 ul li{
	width:75px;
	height:20px;
}
#hidden-text3 ul li:first-of-type{
	color:#666666;
	font-weight:bold;
}
#hidden-text3 .client{
	border-top:1px dotted #EEEEEE;
	margin-top:120px;
	padding-left:8px;
}
#hidden-text3 .client .a1{
	float:left;
	margin-top:5px;
}
#hidden-text3>ul>li>a:hover{
	color:#C91623;
}
.client>ul>li>a:hover{
	color:#C91623;
}
/* 网站导航 */
#hidden-text4{
	width:990px;
	height:223px;
	border:1px solid #ccc;
	position:absolute;
	display:none;
	top:28px;
	right:0;
	background:#FFFFFF;
	z-index:1000;
}
.frame-1:hover>#hidden-text4{
	display:block;
}
.text1-1{
	width:301px;
	height:200px;
	float:left;
	margin:15px 20px 0px 0px;
	border-right:1px solid #ccc;
	float:left;
}
.text1-2{
	width:201px;
	height:200px;
	float:left;
	margin:15px 19px 0px 0px;
	border-right:1px solid #ccc;
}
.text1-3{
	width:201px;
	height:200px;
	float:left;
	margin:15px 19px 0px 0px;
	border-right:1px solid #ccc;
}
.text1-4{
	width:201px;
	height:200px;
	float:left;
	margin:15px 19px 0px 0px;

}
#hidden-text4>ul>li{
	width:85px;
	height:20px;
	float:left;
	margin-left:12px;
	text-align:left;
	margin-top:2px;
}
#hidden-text4>ul>li>a:hover{
	color:#C91623;
}
#header_right{
	width:920px;
	height:30px;
	float:right;
	/* background:red;*/
}
#header_right>ul>li{
	float:left;
}
#header_right>ul>li>a{
	padding:0px 13px;
}
#header_right>ul>.reg>a{
	color:#C81623;
}
#header_right>ul>li>a:hover{
	color:#C81623;
}
#header_right>ul>li>span{
	color:#DDDDDD;
}
.spacer{
	background:#ddd;
	height:12px;
	margin-top:9px;
	overflow:hidden;
	padding:0;
	width:1px;
}
/* 头 部 */
#header1{width:1210px;height:150px;margin:0 auto;}
#logo{width:300px;background:white;display:block;float:left;position:absolute;margin-top:10px;}
#h_in{width:450px;height:30px;float:left;position:absolute;left:364px;top:60px;border:2px solid #b1191a;}
#h_btn{width:80px;height:30px;float:left;position:absolute;left:818px;top:60px;border:2px solid #b1191a;background-color:#b1191a;color:white;}
#h_word{position:absolute;left:362px;top:95px;font-size:12px;}
#h_word>span{margin-right:10px;}
#h_word>span:hover{color:red;}
#h_cart{ position:relative;background:#F1F1F1;width:160px;height:30px;float:right;border:1px solid gray;margin-right:80px;margin-top:30px;line-height:30px;font-size:12px;color:black;}
#h_cart:hover{color:red;}
#h_cart>i{ background:#F1F1F1;margin-left:25px;display:inline-block;width:18px;height:15px;background:url(../images/imgdetails/bg_lt.png) 0px 104px;}

#ti2{
	width:100%;
	float:right;
	border:2px solid transparent;
	margin:40px auto;
}
.sss{
	background:#B1191A;
	color:white;
	height:46px;
	width:210px;
	line-height:44px;
	text-align:center;
	float:left;
	margin-left:30px;
}
.sss>p{
	font-size:16px;
}
.sss1{
	height:20px;
	float:left;
	line-height:20px;
	text-align:center;
	margin-left:30px;
}
.sss1 li{
	float:left;
	display:line-block;
	margin:20px 0px 0px 40px;
	
}
.sss1 li a{
	font-size:16px;
	
}
/*放大镜*/
#p-fangdajing{
	height:350px;
	width:350px;
	position:absolute;
}
#move{
	position: absolute;
	height:175px;
	width:175px;
	background:url(../images/imgdetails/move.png);
	left:0;
	top:0;
	display: none;
}
#imgList{
			list-style:none;
			position:absolute;
			top:600px;
			left:60px;
}
#imgList li{
			width:80px;
			height:80px;
			margin-right:5px;
			float:left;
			border:1px solid #ddd;
}

#bigtu{
	position:absolute;
	height:350px;
	width:350px;
	top:220px;
	left:450px;
	z-index: 10000;
	overflow: hidden;
	border:1px solid red;
	display: none;
	
}
#name ul li:hover{
	cursor: pointer;
	
}
.intro{
	width:1210px;
	height:auto;
	position: absolute;
	text-align: center;
	
}
#guigebaozhuang{
	display: none;
	text-align: center;
}
#shouhoufuwu{
	text-align: center;
	display: none;
}
#shangpinpingjia{
	display: none;
	text-align: center;
}
#line{border:1px solid #b1191a}
#detail{ width:100%;height:42px;background:#F2F2F2}
#p-path{width:1210px;height:42px;;margin:0 auto;}

#p-cont{width:1210px;height:531px;margin:0 auto;}
#p-l{width:350px;height:489px;float:left;}
#p-img{width:100%;display:block}
#p-lt{width:290px;height:53px;margin:15px auto 0 auto;}
.p-ltimg{width:50px;height:50px;display:inline-block;}
.p-ltimg:hover{border:2px solid #e53e41;}
#p-btm1{width:120px;height:15px;font-size:13px;margin-left:33px;margin-top:27px;display:inline-block;}
#p-btm2{width:38px;height:15px;font-size:13px;margin-left:70px;margin-top:27px;display:inline:block;}
#p-btm2>i{width:12px;height:12px;display:inline-block;background:url(../images/imgdetails/newicon.png) no-repeat -161px -296px;}
#p-btm3{width:66px;height:14px;font-size:13px;margin-left:8px;}
#p-btm3>i{width:14px;height:14px;display:inline-block;background:url(../images/imgdetails/newicon.png) no-repeat -177px -296px;}
#p-m{width:588px;height:489px;float:left;position:relative;}
#p-m-1{width:510px;height:110px;}
#p-name{height:48px;font:700 16px Arial,"microsoft yahei";overflow:hidden;color:#666666;margin:20px 0px 10px 0px;}
#p-desc{height:40px;font-size:14px;overflow:hidden;}
#p-m-2{background:#F5F5F5;border:1px solid #ddd;position:absolute;top:33px;right:10px;padding:5px 15px;color:#323232;font-size:12px;}
#p-m-3{width:586px;height:118px;background:#F7F7F7;position:relative;}
#p-m-3-1{width:566px;height:50px;margin-left:20px;margin-top:15px;margin-bottom:-10px;font-size:12px;}
#p-m-3-2{width:566px;height:22px;margin-left:20px;line-height:20px;font-size:12px;}
#p-m-3-2>span{width:60px;height:12px;background-color:#E4393C;color:white;}
#p-m-3-2>em{width:48px;height:12px;color:E4393C;font-style:normal;}
#p-m-3-2>b{color:#005AA0;}
#p-m-3-2>i{width:19px;height:22px;vertical-align:middle;display:inline-block;background:url(../images/imgdetails/mbuy.png);}
#p-m-3-3{width:566px;height:20px;margin-left:20px;line-height:20px;color:#E4393C;text-indent:59px;font-size:12px;}
#p-m-3-3>span{width:24px;height:12px;background-color:#E4393C;color:white;}
#p-m-3-f{width:60px;height:100px;position:absolute;right:18px;top:10px;color:#999999;line-height:20px;font-size:12px;}
#p-m-3-f>span{width:69px;height:33px;display:inline-block;padding-left:10px;border-left:1px solid #E6E6E6;margin-bottom:8px;}
#p-m-4{width:586px;height:50px;line-height:50px;color:#666666;border-bottom:1px dotted #ddd;font-size:12px;text-indent:20px;}
#p-m-5{width:588px;height:32px;line-height:30px;margin-top:20px;vertical-align:middle;text-indent:20px;}
#p-m-5>span{width:125px;height:30px;display:inline-block;border:1px solid #ddd;margin-left:10px;padding-right:8px;text-indent:5px;}
#p-m-5>span>img{vertical-align:middle;margin-right:4px;}
#p-m-6{width:588px;line-height:30px;margin-top:20px;vertical-align:middle;text-indent:20px;font-size:12px;}
#p-m-6>span{display:inline-block;border:1px solid #ddd;margin-left:10px;height:30px;padding-right:16px;}
#p-m-7{width:588px;line-height:30px;margin-top:20px;vertical-align:middle;font-size:12px;text-indent:20px;}
#p-m-7>span{display:inline-block;border:1px solid #ddd;margin-left:10px;height:30px;padding-right:8px;text-indent:5px;}
#p-m-8{width:588px;height:61px;}
#p-m-8-1{width:56px;height:36px;border:1px solid #999;margin-left:20px;margin-top:20px;display:inline-block;background:gray;}
#p-cnt{width:35px;height:31px;text-align:center;float:left;}
#pn-add{width:17px;height:18px;border:0px;float:right;}
#pn-dec{width:17px;height:18px;border:0px;float:right;}
#p-m-8 #pcart{width:135px;height:36px;display:inline-block;background:url(../images/imgdetails/p-btns.png) no-repeat 0px 0px;border-radius:3px;}
#p-m-9{width:588px;height:0px;}
#p-r{width:220px;height:531px;float:right;}
#p-r-1{width:220px;height:50px;position:relation;line-height:50px;font-size:12px;font-weight:400;color:#666;text-align:center;}
#p-r-1 h3{width:106px;height:50px;position:relative;display:inline-block;padding:0 25px;z-index:2;}
#line1{width:218px;border:1px solid black;}
#p-r-2{width:220px;height:220px;background:gray;margin-top:20px;background:url(../images/imgdetails/kan4.png);}
#p-r-3{width:220px;height:220px;background:yellow;margin-top:20px;background:url(../images/imgdetails/kan5.png);}
#line2{width:218px;border:1px solid black;}
#recommend{width:1210px;height:200px;margin:0 auto;margin-top:5px;}
#name{margin-bottom: 0;margin-top:50px;width:1210px;height:30px;background:#F7F7F7; border-bottom:1px solid #E4393C;}
#name li{ float:left;height:30px;margin-left:80px;line-height:30px;font:16px/150% tahoma,arial,Microsoft YaHei,Hiragino Sans GB,"\u5b8b\u4f53",sans-serif;}
#name li:nth-of-type(1){background:#E4393C;color:white;}

#intro{width:1210px;height:140px;margin-top:30px;font:12px/150% tahoma,arial,Microsoft YaHei,Hiragino Sans GB,"\u5b8b\u4f53",sans-serif; position: relative;}
#intro dl{float:left;margin-left:120px;margin-right:30px;}
#intro dt{height:30px;}
#intro dd{margin-left:0px;line-height:20px;}
#introduce{width:1210px;height:180px;margin:0 auto;}
#tu{width:750px;height:180px;background:gray;margin:0 auto; margin-top:20px; background:url(../images/imgdetails/pin.gif);}
#bottom{height:100px;background-color:#F5F5F5;margin-top:5px;}
#b_m{width:1210px;margin:0 auto;}
#b_m>img{float:left;margin-left:20px;margin-top:20px;margin-right:60px;background-color:#EAEAEA;}
#footer{margin:0 auto;width:100%;height:300px;background-color:white;margin-top:5px;}
#footer dl{float:left;margin-left:120px;margin-right:30px;}
#footer dt{height:30px;font-size:14px;}
#footer dd{font-size:12px;margin-left:0px;line-height:20px;}